.container {
    display: flex;
    flex-direction: column; /* column currently while there is no option to change graphs; back to row after that */
    justify-content: center;
    width: 85%;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}