/*
    Color Palette: 
    Red: F3533A -> rgb(243, 83, 58)
    Orange: FA9F42 -> rgb(250, 159, 66)
    Green: 8AD879 -> rgb(138, 216, 121)
    Blue: 5ACFC9 -> rgb(90, 207, 201)
*/
/* .cardGradient {
    background: linear-gradient(45deg, #348f50 0%, #56b4d3 100%) !important;
    color: rgb(250, 250, 250) !important;
} */

.container {
    margin: 2% 0;
}

.card {
    margin: 0 3% !important;
}

.infected {
    background: rgb(206, 255, 195) !important;
    border-bottom: 10px solid rgba(138, 216, 121, 0.9);
}

.recovered {
    background: rgb(190, 245, 242) !important;
    border-bottom: 10px solid rgba(90, 207, 201, 0.9);
}

.deaths {
    background: rgb(252, 208, 202) !important;    
    border-bottom: 10px solid rgba(243, 83, 58, 0.9);
}

@media (max-width: 768px) {
    .card {
        margin: 2% 0 !important;
    }
}