.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1vw;
}

.image {
  width: 370px;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
  }
  
  .app {
    margin: 0 10%;
    margin-bottom: 2vw;
  }
}